.prog-bar-bg {
	border-radius: 16px;
	width: 200px;
	height: 32px;
	background-color: #aaaaaa;
}

.prog-bar-fg {
	clip-path: border-box;
	border-radius: 16px;
	width: 0%;
	left: 0px;
	height: 32px;
	background-color: #44ff44;
	-webkit-transition: 0.5;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
